@model IEnumerable<Book>
@inject Microsoft.AspNetCore.Identity.SignInManager<Library.Models.User> signInManager

@{
    string Overdue(Book task) => task.Overdue ? "bg-warning" : "";
}
@if (signInManager.IsSignedIn(User))
{
<div class="row">
    <div class="col-sm-2">
        <form asp-action="Filter" method="post">
            <div class="form-group">
                <label>Genre:</label>
                <select name="filter" class="form-control"
                        asp-items="@(new SelectList(ViewBag.Genres,
                    "GenreId", "Name", ViewBag.Filters.GenreId))">
                    <option value="all">All</option>
                </select>
            </div>
            <div class="form-group">
                <label>Due:</label>
                <select name="filter" class="form-control"
                        asp-items="@(new SelectList(ViewBag.DueFilters,
                    "Key", "Value", ViewBag.Filters.Due))">
                    <option value="all">All</option>
                </select>
            </div>
            <div class="form-group">
                <label>Status:</label>
                <select name="filter" class="form-control"
                        asp-items="@(new SelectList(ViewBag.Statuses,
                    "StatusId", "Name", ViewBag.Filters.StatusId))">
                    <option value="all">All</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Filter</button>
            <a asp-action="Index" asp-route-id="" class="btn btn-primary">Clear</a>
        </form>
    </div>
    <div class="col-sm-10">
        @if (User.IsInRole("Admin") || User.IsInRole("Librarian"))
        {
            <a asp-action="Add"><b>Add new Book</b></a>
        }

        <table class="table table-bordered table-striped mt-2">
            <thead>
                <tr>                    
                    <th>Title</th>
                    <th>Genre</th>
                    <th>Author</th>
                    <th>Location</th>
                    <th>Due Date</th>
                    <th>Status</th>
                    <th>Owner</th>
                    <th class="w-25"></th>
                </tr>
            </thead>
            <tbody>
            @foreach (Book book in Model)
            {
                string overdue = Overdue(book);
                <tr>                    

                    <td>@book.Title</td>

                    <td>@book.Genre.Name</td>
                        <td>@book.Author</td>
                        <td>@book.Location</td>
                        @if (book.Status.Name == ("Checked out"))
                        {
                            <td class="@overdue">@book.DueDate?.ToShortDateString()</td>
                        }
                        else
                        {
                            <td></td>
                        }
                            <td class="@overdue">@book.Status.Name</td>
                            <td>@book.Owner</td>
                            <td>

                        <form asp-action="Edit" method="post" 
                              asp-route-id="@ViewBag.Filters.FilterString" 
                              class="mr-2">

                            <input type="hidden" 
                                   name="@nameof(Book.Id)" value="@book.Id" />

                            @if (book.Status.Name == ("Available"))
                            {
                            <button type="submit"
                                name="@nameof(Book.StatusId)" value="checked" class="btn btn-primary m-2">
                                Check out
                            </button>
                            }
                            @if (book.Status.Name == ("Checked out"))
                            {
                                @if ((User.Identity.Name == book.Owner) || User.IsInRole("Admin") || User.IsInRole("Librarian"))
                                    {
                                    <button type="submit"
                                                    name="@nameof(Book.StatusId)" value="returned" class="btn btn-primary m-2">
                                        Return
                                    </button>
                                }
                            }
                        @if (User.IsInRole("Admin") || User.IsInRole("Librarian"))
                         {
                            @if (book.Status.Name == ("Returned"))
                            {
                                <button type="submit" name="@nameof(Book.StatusId)" value="available" class="btn btn-primary m-2">
                                    Confirm
                                </button>
                            }
                            <button type="submit" class="btn btn-primary m-2">
                                Delete
                            </button>                                                
                        }
                        </form>
                        @if (User.IsInRole("Admin") || User.IsInRole("Librarian"))
                        {
                            <form asp-action="Change" method="get" 
                                asp-route-id="@book.Id" 
                                class="mr-2">

                                <input type="hidden" 
                                    name="@nameof(Book.Id)" value="@book.Id" />

                                        <button type="submit" class="btn btn-primary m-2">
                                    Edit
                                </button>
                                
                            </form>
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
}
else
{
    <h3>Register and Login to view library</h3>
}