@model IEnumerable<Book>
@inject Microsoft.AspNetCore.Identity.SignInManager<Library.Models.User> signInManager

@{
    string Overdue(Book task) => task.Overdue ? "bg-warning" : "";
}
@if (signInManager.IsSignedIn(User))
{
<div class="row">
    <div class="col-sm-2">
        <form asp-action="Filter" method="post">
            <div class="form-group">
                <label>Genre:</label>
                <select name="filter" class="form-control"
                        asp-items="@(new SelectList(ViewBag.Genres,
                    "GenreId", "Name", ViewBag.Filters.GenreId))">
                    <option value="all">All</option>
                </select>
            </div>
            <div class="form-group">
                <label>Due:</label>
                <select name="filter" class="form-control"
                        asp-items="@(new SelectList(ViewBag.DueFilters,
                    "Key", "Value", ViewBag.Filters.Due))">
                    <option value="all">All</option>
                </select>
            </div>
            <div class="form-group">
                <label>Status:</label>
                <select name="filter" class="form-control"
                        asp-items="@(new SelectList(ViewBag.Statuses,
                    "StatusId", "Name", ViewBag.Filters.StatusId))">
                    <option value="all">All</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Filter</button>
            <a asp-action="Index" asp-route-id="" class="btn btn-primary">Clear</a>
        </form>
    </div>
    <div class="col-sm-10">
        @if (User.IsInRole("Admin") || User.IsInRole("Librarian"))
        {
            <a asp-action="Add"><b>Add new Book</b></a>
        }

        <table class="table table-bordered table-striped mt-2">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Genre</th>
                    <th>Author</th>
                    <th>Location</th>
                    <th>Due Date</th>
                    <th>Status</th>
                    <th>Owner</th>
                    <th class="w-25"></th>
                </tr>
            </thead>
            <tbody>
            @foreach (Book task in Model)
            {
                string overdue = Overdue(task);
                <tr>
                        <td>@task.Title</td>
                        
                    <td>@task.Genre.Name</td>
                        <td>@task.Author</td>
                        <td>@task.Location</td>
                        @if (task.Status.Name == ("Checked out"))
                        {
                            <td class="@overdue">@task.DueDate?.ToShortDateString()</td>
                        }
                        else
                        {
                            <td></td>
                        }
                            <td class="@overdue">@task.Status.Name</td>
                            <td>@task.Owner</td>
                            <td>

                        <form asp-action="Edit" method="post" 
                              asp-route-id="@ViewBag.Filters.FilterString" 
                              class="mr-2">

                            <input type="hidden" 
                                   name="@nameof(Book.Id)" value="@task.Id" />

                            @if (task.Status.Name == ("Available"))
                            {
                            <button type="submit"
                                name="@nameof(Book.StatusId)" value="checked"
                                class="btn btn-primary">
                                Check out
                            </button>
                            }
                                    @if (task.Status.Name == ("Checked out"))
                                    {
                                        @if ((User.Identity.Name == task.Owner) || User.IsInRole("Admin") || User.IsInRole("Librarian"))
                                            {
                                            <button type="submit"
                                                name="@nameof(Book.StatusId)" value="returned"
                                                class="btn btn-primary">
                                                Return
                                            </button>
                                        }
                                    }

                        @if (User.IsInRole("Admin") || User.IsInRole("Librarian"))
                         {
                                    @if (task.Status.Name == ("Returned"))
                                    {
                                        <button type="submit" 
                                            name="@nameof(Book.StatusId)" value="available"
                                            class="btn btn-primary">Confirm
                                        </button>
                                    }
                                    <button type="submit"
                                                class="btn btn-primary">
                                            Delete
                                    </button>
                        
                        
                        }
                            </form>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
}
else
{
    <h3>Register and Login to view library</h3>
}